<div class="socials">
  <a href="https://api.whatsapp.com/send/?phone=5521992014046&text=Ol%C3%A1%2C+gostaria+de+mais+informa%C3%A7%C3%B5es.&type=phone_number&app_absent=0">
    <img src="../../../assets/whatsapp.webp" width="50" height="50" class="floating-icon" />
  </a>
  <a href="https://www.instagram.com/jessicapequeno?igsh=aXdiaHVwenpvMGYy&utm_source=qr">
    <img src="../../../assets/insta.png" width="50" height="50" class="floating-icon" />
  </a>
  <a href="https://www.facebook.com/share/1KkEAbTa16/?mibextid=wwXIfr">
    <img src="../../../assets/face.png" width="50" height="50" class="floating-icon" />
  </a>
</div>