<main>
     <app-header></app-header>
  <main>
       <main>
        <section class="container" style="--bs-columns: 3;">
          <div class="row align-items-center p-4">
            <div class="col-12 col-md-6 mb-4 mb-md-0">
              <img ngSrc="../../../assets/adv.webp" class="img-fluid rounded" width="509" height="500" />
            </div>
            <div class="col-12 col-md-6">
              <div>
                <h2 class="badge text-bg-info" style="width: 9rem;">Quem Somos</h2>
                <p class="mt-3 text-justify">
                  Com mais de 5 anos de experiência jurídica, somos pioneiros no comprometimento em transformar o cenário jurídico. 
                  Com sede no Rio de Janeiro e uma abrangência nacional, oferecemos serviços jurídicos de alta qualidade com uma abordagem inovadora e dinâmica. 
                  Nosso compromisso com a excelência nos impulsiona a fundir tradição e tecnologia, resultando em soluções legais ágeis, eficientes e equitativas.
                </p> 
                <p class="text-justify">
                  Em cada caso, buscamos não só atender, mas superar as expectativas, trazendo confiança e segurança aos nossos clientes. 
                  No J&P Advogados, não apenas defendemos causas: moldamos o futuro legal com dedicação, paixão e um olhar sempre à frente. 
                  Garantimos resoluções eficazes e parcerias duradouras baseadas na confiança e no comprometimento com a justiça.
                </p>
              </div>
              <btn-primary></btn-primary>
            </div>
          </div>
        </section>
      </main>
      <newsletter-form></newsletter-form>
      <section class="benefit-section pad-70">
        <benefit-card
          card-title="Equipe capacitada"
          img-path="../../../assets/team.png"
          card-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur."
        ></benefit-card>
      </section>
    </main>
       <section class="d-flex justify-content-center align-items-center text-center w-100 p-3 bg-dark text-white">
      <div>
        <p>
          Atendimento presencial ou virtual de maneira personalizada, englobando todas as necessidades dos clientes com soluções jurídicas em cada um dos pontos apresentados, reuniões de alinhamento estratégico e execução dos serviços de maneira transparente e esclarecedora
        </p>
        <btn-primary></btn-primary>
      </div>
    </section>
  <app-social-icons></app-social-icons>
  <app-foote></app-foote>
</main>
