@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.form-section {
  background-color: #d9dae2;
  color: white;
  text-align: justify;
  padding: 20px;
  border-radius: 8px;

  h3 {
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    color: black;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    color: black;
  }

  img {
    margin-bottom: 10px;
  }
  span{
    font-weight: 20px;
    color: rgb(255, 0, 0);

  }
}