<section class="container-fluid mt-5">
  <div class="row form-section gx-3 gy-2">
    <div class="col-12">
      <h3 class="text-center">CONTE CONOSCO PARA RESOLVER SUA SITUAÇÃO</h3>
    </div>
    <div class="col-12 col-sm-6 col-md-4 text-center">
      <img decoding="async" class="img-fluid" src="../../../assets/jurosAbusivos.webp" width="78" height="100">
      <p>Juros Abusivos</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 text-center">
      <img decoding="async" class="img-fluid" src="../../../assets/emprestimo.webp" alt="" width="78" height="100">
      <p>Empréstimo Pessoal</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 text-center">
      <img decoding="async" class="img-fluid" src="../../../assets/negativação.webp" width="78" height="100">
      <p>Negativação Indevida</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 text-center">
      <img decoding="async" class="img-fluid" src="../../../assets/credito.webp" width="78" height="100">
      <p>Cartão de Crédito</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 text-center">
      <img decoding="async" class="img-fluid" src="../../../assets/defesa.webp" alt="" width="78" height="100">
      <p>Defesa em Execução</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 text-center">
      <img decoding="async" class="img-fluid" src="../../../assets/cheque.webp" width="78" height="100">
      <p>Cheque Especial</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 text-center">
      <img decoding="async" class="img-fluid" src="../../../assets/negociacao.webp" width="78" height="100">
      <p>Renegociação de Dívida</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 text-center">
      <img decoding="async" class="img-fluid" src="../../../assets/registrato.webp" alt="" width="78" height="100">
      <p>Registrato<br>
        (Restrição Interna)</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 text-center">
      <img decoding="async" class="img-fluid" src="../../../assets/veiculo.webp" width="78" height="100">
      <p>Busca e Apreensão de Veículo</p>
    </div>
    <div class="col-12 text-center">
      <span>Caso você tenha algum deste problemas, converse com  um advogado especialista clicando no botão abaixo.</span>
      <btn-primary></btn-primary>
    </div>
  </div>
</section>