<div class="container-fluid text-center p-4">
  <div class="blinking-container mb-4">
    <h2 class=" font-weight-bold">
      A MISSÃO DO NOSSO ESCRITÓRIO É RECUPERAR A SAÚDE FINANCEIRA SUA OU DA SUA EMPRESA E PROPORCIONAR <br> UMA NOITE DE SONO TRANQUILA, LIVRE DE DÍVIDAS.
    </h2>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 mb-4">
      <div class="benefit-card border border-dark">
        <img src="../../../assets/referencia.png" class="img-fluid" width="80" height="100" />
        <p>Escritório Referência em <br> consumidores endividados.</p>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <div class="benefit-card border border-dark">
        <img src="../../../assets/atendimento.webp" class="img-fluid" width="80" height="100" />
        <p>Atendimento online e sem  <br> burocracia.</p>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <div class="benefit-card border border-dark">
        <img src="../../../assets/baixoValor.webp" class="img-fluid" width="80" height="100" />
        <p>Reduzimos a sua dívida em <br>até 90%.</p>
      </div>
    </div>
  </div>
</div>